<div class="container mt-5 mb-3">
  <div class="card rounded-lg">
    <div class="card-body p-1">
      <div class="form-group col-12 col-md-12 mb-2 mt-2">
        <p>チャットする</p>
        <form>
          <textarea data-behavior="room_speaker" data-room_id="<%= room.id %>" placeholder="メッセージを入力" class="room__message-form_textarea form-control"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
