<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 style="font-weight: bold;">「経験者に話しを聞きたい人」と「経験者」をつなぐプラットフォーム</h2>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case1</h3>
          <%= image_tag 'case1.jpeg', class: "card-img" %>
          <p class="mt-2">IT業界に就職・転職を考えているけどネットの情報だけでなく経験者に直接話を聞いてみたい</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case2</h3>
          <%= image_tag 'case2.jpeg', class: "card-img" %>
          <p class="mt-2">webライターの仕事をしているけど面白い経験を持つ人にインタビューして記事にしたい</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case3</h3>
          <%= image_tag 'case3.jpeg', class: "card-img" %>
          <p class="mt-2">子供が言うことを聞いてくれなくて子育ての悩みが尽きない。先輩ママに相談にのってほしい</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pl-3 pr-3">
          <h3 class="font-weight-bold mb-2">Case4</h3>
          <%= image_tag 'case4.jpeg', class: "card-img" %>
          <p class="mt-2">海外留学に興味があるけど、留学準備や海外生活が不安。留学経験者に話を詳しく聞きたい</p>
      </div>
    </div>
  </div>
</div>
