body {
  background-color: #FBFDFD;
}

.bg-primary {
  background-color: #d1eaf1 !important;
}

.text-dark-warning {
  color: #fff !important;
}

.bg-light-warning {
  background-color: #45bbc2 !important;
}

.nav-lb-tab .nav-item .nav-link.active,
.nav-lb-tab .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid #45bbc2;
  color: #45bbc2;
}

.navbar-default .navbar-nav .nav-item .nav-link:hover {
  color: #45bbc2;
}

.btn-success {
    color: #fff;
    background-color: #45bbc2;
    border-color: #45bbc2;
}

.btn-outline-success {
    color: #45bbc2;
    border-color: #45bbc2;
}

.pb-20, .py-20 {
    padding-bottom: 4.0rem!important;
    padding-top: 4.0rem!important;
}



.btn-outline-success:hover {
    color: #fff;
    background-color: #45bbc2;
    border-color: #45bbc2;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #45bbc2;
    border-color: #45bbc2;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #548c8c;
    border-color: #548c8c;
    box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}

.btn-success:hover {
    color: #fff;
    background-color: #548c8c;
    border-color: #548c8c;
}

.sidenav.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: #dcf4f4;
    color: #45bbc2;
}

.nav-lt-tab .nav-item .nav-link.active, .nav-lt-tab .nav-item .nav-link:hover {
    background-color: transparent;
    border-top: 2px solid #45bbc2;
    color: #45bbc2;
    font-weight: bold;
}

.indicator-primary.indicator:before {
    background-color: #ff4500;
}

.alert {
    margin-bottom: 0rem;
}

.navbar .navbar-toggler {
    border: 1px solid #45bbc2;
}

.navbar .navbar-toggler .bottom-bar {
    background-color: #45bbc2;
}

.navbar .navbar-toggler .top-bar {
    background-color: #45bbc2;
}

.navbar .navbar-toggler.collapsed .bottom-bar {
    background-color: #45bbc2;
}

.navbar .navbar-toggler.collapsed .icon-bar {
  background-color: #45bbc2;
}

a:hover {
    color: #45bbc2;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #45bbc2!important;
}

a {
    color: #45bbc2;
}

.dropdown-item:hover {
  color: #45bbc2;
}
