<div class="col-lg-3 col-md-4 col-12 mt-15">
  <!-- Side navbar -->
  <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
    <!-- Menu -->
    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
    <!-- Button -->
    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
      data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="fe fe-menu"></span>
    </button>
    <!-- Collapse navbar -->
    <div class="collapse navbar-collapse" id="sidenav">
      <div class="navbar-nav flex-column">
        <span class="navbar-header">アカウント</span>
        <!-- List -->
        <ul class="list-unstyled ml-n2 mb-0">
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="profile-edit.html"><i class="fa fa-home nav-icon"></i>HOME</a>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="social-profile.html"><i class="fe fe-refresh-cw nav-icon"></i>Social
              Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Notifications</a>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="profile-privacy.html"><i class="fe fe-lock nav-icon"></i>Profile
              Privacy</a>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>退会する</a>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><i class="fas fa-sign-out-alt nav-icon"></i>ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
